body {
  font-family: helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
}

.top-bar {
  position: fixed;
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
}

.nav-bar {
  text-decoration: underline;
}



