body {
  font-family: helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
}

header {
  position: fixed;
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  justify-content: felx-end;
}

.nav-bar {
  text-decoration: underline;
  text-align: right;
}



